#game-screen {
  width: 1000px;
  height: 600px;
  border: 1px solid black;
  background: lightgray;
  margin: 10px;
}

#open,
#door {
  width: 300px;
  height: 424px;
  background: url("open.png");
  background-size: 300px;
  position: absolute;
  left: 350px;
  top: 88px;
}
